src/codigon8n.json
{
  "name": "Arqueo Central",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "arqueoN8N",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "Webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "propertyName": "tipoForm",
        "rules": [
          {
            "operation": "equal",
            "value": "debitos"
          },
          {
            "operation": "equal",
            "value": "cheques"
          },
          {
            "operation": "equal",
            "value": "transferencias"
          },
          {
            "operation": "equal",
            "value": "qr"
          },
          {
            "operation": "equal",
            "value": "pagosmunicipales"
          },
          {
            "operation": "equal",
            "value": "efectivo"
          },
          {
            "operation": "equal",
            "value": "egresos"
          },
          {
            "operation": "equal",
            "value": "varios"
          }
        ]
      },
      "id": "Switch",
      "name": "Switch tipoForm",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "functionCode": "return [\n  {\n    json: {\n      fecha: $json[\"fecha\"] || new Date().toISOString(),\n      tipo: $json[\"tipoForm\"] || \"desconocido\",\n      total: $json[\"totalAmount\"] || 0,\n      operaciones: $json[\"operationCount\"] || 0,\n      detalle: JSON.stringify($json[\"detalle\"] || [])\n    }\n  }\n];"
      },
      "id": "Function",
      "name": "Normalizar Datos",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [750, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "TU_SHEET_ID",
        "range": "Datos",
        "options": {
          "valueInputMode": "RAW"
        },
        "fields": {
          "values": [
            [
              "={{$json[\"fecha\"]}}",
              "={{$json[\"tipo\"]}}",
              "={{$json[\"total\"]}}",
              "={{$json[\"operaciones\"]}}",
              "={{$json[\"detalle\"]}}"
            ]
          ]
        }
      },
      "id": "GoogleSheets",
      "name": "Guardar en Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "credentials": {
        "googleApi": "TU_CREDENCIAL_GOOGLE"
      },
      "position": [1000, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch tipoForm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch tipoForm": {
      "main": [
        [
          {
            "node": "Normalizar Datos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalizar Datos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalizar Datos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalizar Datos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalizar Datos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalizar Datos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalizar Datos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalizar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Datos": {
      "main": [
        [
          {
            "node": "Guardar en Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
